@use 'init' as vars;

footer{
    background-color: vars.$textBrightColor;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 2em;
    color: vars.$formTextColor;

    @media only screen and (width >= 1115px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        min-height: 20vh;
        max-height: 100vh;
    }

    .company-logo{
        display: flex;
        flex-direction: column;
        gap: 0.7em;
        justify-content: center;
        align-items: center;

        .main-title{
            display: flex;
            align-items: center;
            gap: 0.6em;
        }

        .main-title img{
            width: 2.5em;
        }

        .phrase{
            font-size: 1.2em;
            color: vars.$footerDarkTextColor;
        }
    }

    .contact-data{
        display: flex;
        flex-direction: column;
        gap: 0.6em;

        ul{
            padding-left: 1em;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.6em;
        }
    }

    .social-media-links{
        display: flex;
        flex-direction: column;
        gap: 0.6em;

        ul{
            padding-left: 1em;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.6em;
        }

        ul li a{
            text-decoration: none;
            color: vars.$footerDarkTextColor;
            font-weight: 500;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.footer-line{
    display: block;
    width: 100%;
    font-size: 1.2em;
    color: vars.$textBrightColor;
    font-weight: 600;
    background-color: vars.$mainColor;
    padding: 0.8em 2em;
    text-align: center;
}