@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
header {
  background-color: #3dd41f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  width: 100%;
  top: 0;
}
@media only screen and (width >= 1115px) {
  header {
    padding: 1.4em;
  }
}
header .main-title {
  color: #fafffd;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.3em;
}
@media only screen and (width >= 1115px) {
  header .main-title {
    font-size: 1.5em;
  }
}
header .main-title img {
  width: 1.8em;
}
header .desktop-navbar {
  display: none;
}
@media only screen and (width >= 1115px) {
  header .desktop-navbar {
    display: flex;
    align-items: center;
    gap: 4em;
  }
}
header .desktop-navbar li {
  list-style: none;
}
header .desktop-navbar li a {
  display: block;
  color: #fafffd;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.1em;
  transition: 0.2s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header .desktop-navbar li a:hover {
  filter: brightness(110%);
  transform: scale(1.1);
}
header .burguer {
  width: 2.8em;
}
@media only screen and (width >= 1115px) {
  header .burguer {
    display: none;
  }
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  animation: fadeIn 0.2s linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal .mobile-navbar-container {
  width: 14em;
  height: 100vh;
  background-color: #fafffd;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 3em;
  padding: 1.5em 1.5em 1.5em 2em;
  animation: slideIn 0.3s linear;
}
@keyframes slideIn {
  0% {
    transform: translateX(14em);
  }
  50% {
    transform: translateX(14em);
  }
  100% {
    transform: translateX(0);
  }
}
.modal .mobile-navbar-container .quit {
  font-size: 1.4em;
  font-weight: 600;
}
.modal .mobile-navbar-container .quit:hover {
  color: #f03333;
}
.modal .mobile-navbar-container .mobile-navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.modal .mobile-navbar-container .mobile-navbar li {
  list-style: none;
}
.modal .mobile-navbar-container .mobile-navbar li a {
  text-decoration: none;
  color: #030920;
  font-size: 1.1em;
  transition: 0.2s;
  font-weight: 600;
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.modal .mobile-navbar-container .mobile-navbar li a:hover {
  color: #3dd41f;
  transform: scale(1.1);
}
.modal .slideOut {
  animation: slideOut 0.4s linear;
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(80em);
  }
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (width >= 1115px) {
  .main-content {
    max-width: 1400px;
  }
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 5em;
  min-height: 60vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 1em;
  box-shadow: 0 0 0.5em #aaaaaa;
}
.banner .first-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.banner .first-container .contact {
  display: flex;
  align-items: center;
  gap: 0.6em;
}
.banner .first-container .contact img {
  width: 2em;
}
.banner .first-container .contact .number {
  color: #fafffd;
}
.banner .first-container .contact .number:hover {
  text-decoration: underline;
}
.banner .second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
  flex-direction: column;
  padding: 0 1em;
}
.banner .second-container .banner-title {
  color: #fafffd;
}
.banner .second-container .book {
  display: block;
  text-decoration: none;
  color: #fafffd;
  padding: 0.6em 1em;
  font-size: 1.1em;
  border: 2px solid #fafffd;
  transition: 0.2s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
.banner .second-container .book:hover {
  background-color: #fafffd;
  color: #030920;
}

.about {
  min-height: 60vh;
  max-height: 110vh;
  display: grid;
  place-items: center;
  padding: 2em 2.5em;
}
@media only screen and (width >= 1115px) {
  .about {
    grid-template-columns: 1fr 1fr;
  }
}
.about .information {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media only screen and (width >= 1115px) {
  .about .information {
    padding: 0 4em;
  }
}
.about .information .about-title {
  font-size: 1.5em;
}
@media only screen and (width >= 1115px) {
  .about .information .about-title {
    font-size: 1.7em;
  }
}
.about .information .about-description {
  line-height: 1.3em;
}
.about .image-view {
  display: none;
}
@media only screen and (width >= 1115px) {
  .about .image-view {
    display: grid;
    place-items: end;
    padding-right: 3em;
    width: 100%;
  }
}
.about .image-view img {
  width: 28em;
  height: 24em;
  box-shadow: 0 0 0.4em #030920;
}

.services {
  display: grid;
  background-color: #f3f3f3;
  box-shadow: 0 -0.2em 0.5em #f3f3f3;
  padding: 2em;
  min-height: 65vh;
  max-height: 110vh;
}
@media only screen and (width >= 1115px) {
  .services {
    grid-template-columns: 1fr 1fr;
    box-shadow: none;
  }
}
.services .services-image {
  display: none;
}
@media only screen and (width >= 1115px) {
  .services .services-image {
    display: grid;
    place-items: center;
  }
}
.services .services-image img {
  width: 29em;
}
.services .services-info {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
@media only screen and (width >= 1115px) {
  .services .services-info {
    padding-right: 2em;
  }
}
.services .services-info .services-title {
  font-size: 1.7em;
}
.services .services-info ul {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.services .services-info ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.services .services-info ul li img {
  width: 2.2em;
}
.services .services-info ul li .service-item {
  font-weight: 500;
}

.contact2 {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  padding: 2.5em 2em;
}
@media only screen and (width >= 1115px) {
  .contact2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.contact2 .contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.contact2 .contact-form-container .contact-form-title {
  text-align: center;
  padding: 0 0.5em;
  font-size: 1.3em;
}
.contact2 .contact-form-container .contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #fafffd;
  padding: 1.5em 2em;
  border-top: 3px solid #3dd41f;
  width: 22em;
}
@media only screen and (width >= 1115px) {
  .contact2 .contact-form-container .contact-form {
    width: 28em;
  }
}
.contact2 .contact-form-container .contact-form .form-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #212538;
}
.contact2 .contact-form-container .contact-form .input-success {
  font-size: 0.85em;
  text-align: center;
  font-weight: 600;
  color: #3dd41f;
  margin-top: -0.6em;
  animation: fade 2.7s linear;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.contact2 .contact-form-container .contact-form .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.contact2 .contact-form-container .contact-form .input-group label {
  font-weight: 500;
  color: #212538;
}
.contact2 .contact-form-container .contact-form .input-group input[type=text],
.contact2 .contact-form-container .contact-form .input-group input[type=email],
.contact2 .contact-form-container .contact-form .input-group textarea {
  border: 1px solid #dddddd;
  font-size: 0.9em;
  padding: 0.5em 0.8em;
  border-radius: 0.23em;
  outline-color: #3dd41f;
}
.contact2 .contact-form-container .contact-form .input-group textarea {
  resize: none;
}
.contact2 .contact-form-container .contact-form .input-group .input-error {
  color: #f03333;
  font-weight: 600;
  font-size: 0.9em;
  margin-top: -0.2em;
}
.contact2 .contact-form-container .contact-form input[type=submit] {
  background-color: #3dd41f;
  border: none;
  font-size: 1em;
  color: #fafffd;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5em 0;
  border-radius: 0.3em;
}
.contact2 .contact-form-container .contact-form input[type=submit]:hover {
  cursor: pointer;
}
.contact2 .social-media {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.contact2 .social-media .social-media-title {
  text-align: center;
  font-size: 1.3em;
  padding: 0 0.5em;
}
.contact2 .social-media .media-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.5em;
  row-gap: 2.5em;
}
@media only screen and (width >= 1115px) {
  .contact2 .social-media .media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
  }
}
.contact2 .social-media .media-container .media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.contact2 .social-media .media-container .media .img {
  display: block;
  padding: 1em;
  border-radius: 50%;
  transition: 0.2s;
}
.contact2 .social-media .media-container .media .img:hover {
  transform: translateY(-0.2em);
}
.contact2 .social-media .media-container .media .ws2 {
  background-color: #3dd41f;
}
.contact2 .social-media .media-container .media .ig {
  background: linear-gradient(-45deg, #833ab4, #fd1d1d, #fcb045);
}
.contact2 .social-media .media-container .media .fb {
  background-color: #1f5de2;
}
.contact2 .social-media .media-container .media .xt {
  background-color: #0f152e;
}
.contact2 .social-media .media-container .media .img img {
  width: 5em;
  height: 5em;
}
@media only screen and (width >= 1115px) {
  .contact2 .social-media .media-container .media .img img {
    width: 4em;
    height: 4em;
  }
}
.contact2 .social-media .media-container .media .media-name {
  text-decoration: none;
  color: #212538;
}
.contact2 .social-media .media-container .media .media-name:hover {
  text-decoration: underline;
}

footer {
  background-color: #fafffd;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 2em;
  color: #212538;
}
@media only screen and (width >= 1115px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 20vh;
    max-height: 100vh;
  }
}
footer .company-logo {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  justify-content: center;
  align-items: center;
}
footer .company-logo .main-title {
  display: flex;
  align-items: center;
  gap: 0.6em;
}
footer .company-logo .main-title img {
  width: 2.5em;
}
footer .company-logo .phrase {
  font-size: 1.2em;
  color: #979797;
}
footer .contact-data {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
footer .contact-data ul {
  padding-left: 1em;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
footer .social-media-links {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
footer .social-media-links ul {
  padding-left: 1em;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
footer .social-media-links ul li a {
  text-decoration: none;
  color: #979797;
  font-weight: 500;
}
footer .social-media-links ul li a:hover {
  text-decoration: underline;
}

.footer-line {
  display: block;
  width: 100%;
  font-size: 1.2em;
  color: #fafffd;
  font-weight: 600;
  background-color: #3dd41f;
  padding: 0.8em 2em;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9;
}

/*# sourceMappingURL=main.css.map */
